<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-4">
      <form class="card" [formGroup]="form">
        <div class="card-body">

          <div class="col-12">
            <label for="amount" class="form-label">Monto en AURAX:</label>
            <input type="number" class="form-control" id="amount" formControlName="amount" min="0">
            <div class="text-end">Balance:{{balance | currency:'USD':'':'1.2-2'}}</div>
          </div>


          <div class="col-12">
            <label for="receiver" class="form-label">A Billetera:</label>
            <select  class="form-control" id="receiver" formControlName="receiver">
              <option *ngFor="let user of beneficiaryList" [value]="user.wallet_public_key"> {{user.username}}</option>
            </select>
            <div *ngIf="form.get('receiver')?.value"  class="mt-3">
              <b>Billetera destino:</b>
              <p>{{form.get('receiver')?.value}}</p>
            </div>

          </div>
          <hr>
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="form.invalid || form.get('amount')?.value <= 0"
              (click)="submit()">
              Transferir
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
