<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-4">
      <form class="card" [formGroup]="form">
        <div class="card-body">

          <div class="col-12">
            <label for="amount" class="form-label">Monto en dólares:</label>
            <input type="number" class="form-control" id="amount" formControlName="amount" min="0">
          </div>

          <div class="col-12">
              <label for="tokens" class="form-label">Tokens a recibir</label>
            <input type="number" readonly  class="form-control" id="tokens" formControlName="tokens">
          </div>
          <hr>
          <div class="d-flex justify-content-center">
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="form.invalid || form.get('amount')?.value <= 0"
              (click)="submit()">
              Comprar
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
