<div class="container">
  <div class="row mt-5">

    <ngb-alert type="info" [dismissible]="false" *ngIf="success">
      <strong>Operación pendiente por </strong> <a [href]="nodeService.target" target="_blank">Minar</a>
    </ngb-alert>

    <div class="col-12 col-sm-6">
      <div class="mb-5">
        <h2>Intercambio de activos</h2>
        <p>Realiza intercambio entre tokens, AURAX y dólares</p>
      </div>

      <form class="card" [formGroup]="form">
        <div class="card-body">
          <div class="col-12">
            <label for="fromCurrency" class="form-label">De:</label>
            <select class="form-select" id="fromCurrency" formControlName="fromCurrency"
                    [class.ng-invalid]="form.get('fromCurrency')?.invalid && form.get('fromCurrency')?.touched">
              <option *ngFor="let item of getFromCurrency()" [value]="item">{{item | currencyName}}</option>
            </select>
            <div class="text-end" *ngIf="form.get('fromCurrency')?.value == 'coin' ">Balance:{{balance.coin | currency:'USD':'':'1.2-2'}}</div>
            <div class="text-end" *ngIf="form.get('fromCurrency')?.value == 'token' ">Balance:{{balance.token | currency:'USD':'':'1.2-2'}}</div>
            <div
              class="alert alert-danger p-1 mt-1"
              *ngIf="form.get('fromCurrency')?.invalid && form.get('fromCurrency')?.touched"
            >Moneda de origen requerida</div>
          </div>

          <div class="col-12">
            <label for="amount" class="form-label">Monto:</label>
            <input type="number" class="form-control" id="amount" formControlName="amount" min="0"
                   [class.ng-invalid]="form.get('amount')?.invalid && form.get('amount')?.touched">
            <div
              class="alert alert-danger p-1 mt-1"
              *ngIf="form.get('amount')?.invalid && form.get('amount')?.touched"
            >Monto requerido</div>
          </div>

          <hr>

          <div class="col-12">
            <label for="fromCurrency" class="form-label">A:</label>
            <select class="form-select" id="toCurrency" formControlName="toCurrency"
                    [class.ng-invalid]="form.get('toCurrency')?.invalid && form.get('toCurrency')?.touched">>
              <option *ngFor="let item of getToCurrency()" [value]="item">{{item | currencyName}}</option>
            </select>
            <div
              class="alert alert-danger p-1 mt-1"
              *ngIf="form.get('toCurrency')?.invalid && form.get('toCurrency')?.touched"
            >Moneda de destino requerida</div>
          </div>

          <div class="col-12">
            <label for="receive" class="form-label">Total a recibir:</label>
            <input type="number" class="form-control" id="receive" formControlName="receive" min="0" readonly >
          </div>

          <hr>

          <div class="d-flex justify-content-center mt-3">
            <button
              type="button"
              class="btn btn-primary"
              [disabled]="form.invalid || form.get('amount')?.value <= 0"
              (click)="submit()">
              Comprar
            </button>
          </div>

        </div>
      </form>
    </div>

    <div class="col-12 col-sm-6">
      <img src="assets/illustration2.jpg" alt="image" class="img-fluid">
    </div>
  </div>
</div>

