<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 offset-sm-4">
      <form class="form card" [formGroup]="form">
        <div class="card-body">
          <div class="form-row">

            <div class="col-12">
              <label for="username" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="username" formControlName="username">
            </div>

            <div class="col-12 mt-1">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>

            <span>¿Eres nuevo ?<a routerLink="/sign-up"> Registrate</a></span>
          </div>
        </div>
        <div class="card-footer d-flex justify-content-center">
          <button
            type="button"
            class="btn btn-primary"
            [disabled]="form.invalid"
            (click)="submit()">
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
